img.profile_image {
  width:60px;
  height:60px;
  object-fit: contain;
  border-radius: 100px;

}
.header img.profile_image{
  position: relative;
  cursor: pointer;
}

.header .menus {
  position: absolute;
  top: 100%;
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
  left: 81%;
}


